#shape {
    width: 100px;
    height: 100px;
    background-color: #FF0000;
    position: relative;
    cursor: pointer;
    -webkit-transition:all ease-in-out 0.3s;
  	transition:all ease-in-out 0.3s;
}
.bs-glyphicons,  .bs-glyphicons-current{
  margin: 0 -10px 20px;
  overflow: hidden;
}
.bs-glyphicons-list {
  list-style: none;
}
.bs-glyphicons li, .bs-glyphicons-current li {
  width: 12.5%;
  height: 100px;
  padding: 10px;
  text-align: center;
  background-color: #f9f9f9;
  border: 1px solid #fff;
}
.bs-glyphicons md-grid-tile:hover {
  color: #fff;
  background-color: #563d7c;
  cursor: pointer;
}
.bs-glyphicons .glyphicon, .bs-glyphicons-current .glyphicon{
  margin:auto;
  font-size: 62px;
}
.footer {
  position: absolute;
  bottom: 0;
  left:47.5px;
  /* Set the fixed height of the footer here */
  height: auto;
}
li {
    opacity: 1;
}
li.ng-enter {
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 0;
}
li.ng-enter-active {
    opacity: 1;
}
section .btn{
    margin: 8px;
}
.skyscraperIcon{
    max-height: 100%;
    max-width: 100%;
}
section md-content{
    overflow: hidden;
}
.lock-size {
  min-width: 300px;
  min-height: 300px;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto; }
  .red{
    color: red;
  }