#shape {
    width: 100px;
    height: 100px;
    background-color: #FF0000;
    position: relative;
    cursor: pointer;
    -webkit-transition:all ease-in-out 0.3s;
  	transition:all ease-in-out 0.3s;
}
.bs-glyphicons {
  margin: 0 -10px 20px;
  overflow: hidden;
}
.bs-glyphicons-list {
  padding-left: 0;
  list-style: none;
}
.bs-glyphicons li {
  float: left;
  width: 12.5%;
  height: 100px;
  padding: 10px;
  font-size: 10px;
  line-height: 1.4;
  text-align: center;
  background-color: #f9f9f9;
  border: 1px solid #fff;
}
.bs-glyphicons li:hover {
  color: #fff;
  background-color: #563d7c;
}
.bs-glyphicons .glyphicon {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px;
}