<!DOCTYPE html>
<html ng-app="skyscraper">

<head>
    <link rel="stylesheet" type="text/css" href="content/main.css">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.min.css">
    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID"></meta>
</head>

<body game>
    <!-- <button ng-click="addBox()">Add Box!</button>
        <button ng-click="addCircle()">Add Circle!</button> -->
    <div layout="column" style="height:100%;" class="ng-scope layout-column">

        <section layout="row" flex="" class="layout-row flex">

            <md-sidenav class="md-sidenav-left md-whiteframe-z2 md-closed ng-isolate-scope md-locked-open" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"
            tabindex="-1">
            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                <button class="btn btn-default glyphicon glyphicon-play" type="submit" ng-disabled="gameStarted || !login" ng-click="startGame()"></button>
                <button class="btn btn-default glyphicon glyphicon-refresh" type="submit" ng-disabled="!gameStarted || !login" ng-click="resetGame()"></button>
                <gplus></gplus>
            </section>
                <md-toolbar class="md-theme-indigo">
                    <h1 class="md-toolbar-tools">Players</h1>
                </md-toolbar>
                <md-content layout-padding="" class="layout-padding ng-scope">
                    <md-list>
                        <!--<md-subheader class="md-no-sticky">Players</md-subheader>-->
                        <md-list-item class="md-2-line" ng-repeat="player in players" ng-hide="!login">
                            <img ng-src="{{player.imageUrl}}" class="md-avatar" alt="{{player.displayName}}">
                            <div class="md-list-item-text">
                                <h3>{{player.displayName}}</h3>
                                <md-chip>Points: {{player.points}}</md-chip>
                            </div>
                        </md-list-item>
                    </md-list>
                    </p>
                </md-content>
            </md-sidenav>

            <md-content flex="" layout-padding="" class="layout-padding flex">
                <md-progress-linear md-mode="determinate" value="{{timeLeft}}"></md-progress-linear>
                <div layout="column" layout-fill="" layout-align="top center" class="layout-fill layout-align-start-center layout-column">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                            </div>
                        </div>
                        <div class="row">
                            <div class="bs-glyphicons">
                                <ul class="bs-glyphicons-list">
                                    <li ng-repeat="symbol in extractedCard" ng-click="select(symbol)">
                                        <img ng-src="{{symbol.path}}" class="glyphicon skyscraperIcon" />
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="container">
                            <div class="row">
                                <div class="bs-glyphicons-current">
                                    <ul class="bs-glyphicons-list">
                                        <li ng-repeat="symbol in currentCard">
                                            <img ng-src="{{symbol.path}}" class="glyphicon skyscraperIcon" />
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div ng-hide="myCards.length === 0">
                                <div class="row" ng-repeat="card in myCards">
                                    <div class="bs-glyphicons-current">
                                        <ul class="bs-glyphicons-list">
                                            <li ng-repeat="symbol in card.symbols">
                                                <img ng-src="{{symbol.path}}" class="glyphicon skyscraperIcon" />
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </md-content>
        </section>
    </div>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="bower_components/signalr/jquery.signalR.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-signalr-hub/signalr-hub.js"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/directives/game.js"></script>
    <script src="scripts/directives/googleAuth.js"></script>
    <script src="scripts/factories/shapeModelFactory.js"></script>
    <script src="config.js"></script>
</body>

</html>