<!DOCTYPE html>
<html ng-app="skyscraper">
    <head>
        <link rel="stylesheet" type="text/css" href="content/main.css">
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    </head>
    <body init>
        <!-- <button ng-click="addBox()">Add Box!</button>
        <button ng-click="addCircle()">Add Circle!</button> -->
        <div class="container">

            <div class="jumbotron">
                <h1>Skyscraper</h1>
                <div class="row">
                    <button class="btn btn-default" type="submit" ng-disabled="gameStarted" ng-click="startGame()">Start game</button>
                </div>
                <gplus>
                    
                </gplus>
            </div>
            
            <div class="row">
                <div class="bs-glyphicons">
                    <ul class="bs-glyphicons-list">
                        <li ng-repeat="symbol in extractedCard">
                          <span class="glyphicon" aria-hidden="true" ng-class="symbol.value" ng-click="select(symbol)"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="bs-glyphicons-current">
                        <ul class="bs-glyphicons-list">
                            <li ng-repeat="symbol in currentCard">
                              <span class="glyphicon" aria-hidden="true" ng-class="symbol.value"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/jquery-ui/jquery-ui.js"></script>
        <script src="bower_components/signalr/jquery.signalR.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-signalr-hub/signalr-hub.js"></script>
        <script src="bower_components/matter-js/build/matter-0.8.0.js"></script>
        <script src="bower_components/resurrect-js/resurrect.js"></script>
        <script src="bower_components/pixi/bin/pixi.js"></script>
        <script src="bower_components/underscore/underscore-min.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/directives/hub.js"></script>
        <script src="scripts/directives/googleAuth.js"></script>
        <script src="scripts/factories/shapeModelFactory.js"></script>
        <script src="config.js"></script>
    </body>
</html>