<!DOCTYPE html>
<html ng-app="skyscraper">
    <head>
        <link rel="stylesheet" type="text/css" href="content/main.css">
    </head>
    <body ng-controller="hubController">
        <button ng-click="addBox()">Add Box!</button>
        <button ng-click="addCircle()">Add Circle!</button>

        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/jquery-ui/jquery-ui.js"></script>
        <script src="bower_components/signalr/jquery.signalR.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-signalr-hub/signalr-hub.js"></script>
        <script src="bower_components/matter-js/build/matter-0.8.0.js"></script>
        <script src="bower_components/resurrect-js/resurrect.js"></script>
        <script src="bower_components/pixi/bin/pixi.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/hubController.js"></script>
        <script src="scripts/directives/draggable.js"></script>
        <script src="scripts/factories/shapeModelFactory.js"></script>
    </body>
</html>