<!DOCTYPE html>
<html ng-app="skyscraper">
    <head>
        <link rel="stylesheet" type="text/css" href="content/main.css">
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.min.css">
        <meta name="google-signin-client_id" content="YOUR_CLIENT_ID"></meta>
    </head>
    <body game>
        <!-- <button ng-click="addBox()">Add Box!</button>
        <button ng-click="addCircle()">Add Circle!</button> -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">Skyscraper</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-form navbar-right">
                        <li>
                            <button class="btn btn-default" type="submit" ng-disabled="gameStarted || !login" ng-click="startGame()">Start game</button>
                        </li>
                        <li>
                            <gplus></gplus>
                        </li>
                        <li>
                            <button class="btn btn-default" type="submit" ng-disabled="!gameStarted || !login" ng-click="resetGame()">Reset game</button>
                        </li>
                    </ul>
                </div>
            </div><!-- /.container-fluid -->
        </nav>
        <section layout="row" flex="">
            <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
                <md-toolbar class="md-theme-indigo">
                    <h1 class="md-toolbar-tools">Players</h1>
                </md-toolbar>
                <md-content layout-padding="">
                    <md-button ng-click="close()" class="md-primary" hide-gt-md="">
                    Close Sidenav Left
                    </md-button>
                    <p hide-md="" show-gt-md="">
                    <md-list>
                        <!--<md-subheader class="md-no-sticky">Players</md-subheader>-->
                        <md-list-item class="md-2-line" ng-repeat="player in players" ng-hide="!login">
                            <img ng-src="{{player.imageUrl}}" class="md-avatar" alt="{{player.displayName}}">
                                <div class="md-list-item-text">
                                <h3>{{player.displayName}}</h3>
                                <md-chip>Points: {{player.points}}</md-chip>
                                </div>
                        </md-list-item>
                    </md-list>
                    </p>
                </md-content>
            </md-sidenav>
        </section>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    
                </div>
            </div>
            <!--<div class="row" ng-if="login">
            <div class="col-md-3" ng-repeat="player in players">
                <div class="col-md-3">
                    <img ng-src="{{player.imageUrl}}">
                </div>
                <div class="col-md-9">
                    <a href="#">{{player.displayName}}
                        <span class="badge">{{player.points}}</span>
                    </a>
                </div>
              </div>
            </div>-->
            <div class="row" ng-hide="!gameStarted">
                <h2>{{counter}}</h2>
            </div>
            <div class="row">
                <div class="bs-glyphicons">
                    <ul class="bs-glyphicons-list">
                        <li ng-repeat="symbol in extractedCard" ng-click="select(symbol)">
                          <span class="glyphicon" aria-hidden="true" ng-class="symbol.value"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="bs-glyphicons-current">
                        <ul class="bs-glyphicons-list">
                            <li ng-repeat="symbol in currentCard">
                              <span class="glyphicon" aria-hidden="true" ng-class="symbol.value"></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div ng-hide="myCards.length === 0">
                    <div class="row" ng-repeat="card in myCards">
                        <div class="bs-glyphicons-current">
                            <ul class="bs-glyphicons-list">
                                <li ng-repeat="symbol in card.symbols">
                                <span class="glyphicon" aria-hidden="true" ng-class="symbol.value"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
        <script src="bower_components/signalr/jquery.signalR.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="bower_components/angular-signalr-hub/signalr-hub.js"></script>
        <script src="bower_components/angular-messages/angular-messages.min.js"></script>
        <script src="bower_components/angular-aria/angular-aria.min.js"></script>
        <script src="bower_components/angular-material/angular-material.min.js"></script>
        <script src="bower_components/underscore/underscore-min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/directives/game.js"></script>
        <script src="scripts/directives/googleAuth.js"></script>
        <script src="scripts/factories/shapeModelFactory.js"></script>
        <script src="config.js"></script>
    </body>
</html>
